<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content' style="background-color:red">
  <li><a href="#!" style="color:white;">Perfil<i class="material-icons">account_circle</i></a></li>
  <li class="divider"></li>
  <li><a href="#!" style="color:white;">Dashboard<i class="material-icons">dashboard</i></a></li>
  <li><a href="/gallery" style="color:white;">Gallery<i class="material-icons">photo_library</i></a></li>
  <li class="divider"></li>
  <li>
    <a href="#!" style="color:white;">
      Cerrar Sesión <i class="material-icons">exit_to_app</i>
    </a>
  </li>
</ul>

<nav style="background-color:red; margin-bottom:10px; height:80px">
  <div class="nav-wrapper">
    <a href="dashboard" class="brand-logo left">
      <img class="responsive-img left" src="/img/logo_citykids.png" style="width:80px; padding-left:5px; padding-top:5px">
    </a>
    <ul class="right">
      <!-- Dropdown Trigger -->
      <li>
        <a class='dropdown-button' href='#' data-activates='dropdown1' data-constrainwidth="false" data-alignment="right">
          <i class="material-icons right">arrow_drop_down</i>Menú
        </a>  
      </li>
    </ul>
  </div>
</nav>
  