<nav style="background-color:red; margin-bottom:10px; height:80px">
  <div class="nav-wrapper">
    <a href="dashboard" class="brand-logo left">
      <img class="responsive-img left" src="/img/logo_citykids.png" style="width:80px; padding-left:5px; padding-top:5px">
    </a>
    <ul class="right">
      <!-- Dropdown Trigger -->
      <li>
        <a class='dropdown-button' href='#' data-activates='dropdownOptions' data-constrainwidth="false" data-alignment="right">
          <i class="material-icons right">arrow_drop_down</i>Menú
        </a>  
      </li>
    </ul>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id='dropdownOptions' class='dropdown-content' style="background-color:red">
  <li><a href="#!" style="color:white; display: inline-flex;vertical-align: middle;"><i class="material-icons"  style="margin-right:5px">account_circle</i>Perfil</a></li>
  <li class="divider"></li>
  <li><a href="#!" style="color:white; display: inline-flex;vertical-align: middle;"><i class="material-icons"  style="margin-right:5px">dashboard</i>Dashboard</a></li>
  <li><a href="/gallery" style="color:white; display: inline-flex;vertical-align: middle;"><i class="material-icons"  style="margin-right:5px">photo_library</i>Gallery</a></li>
  <li class="divider"></li>
  <li>
    <a href="#!" style="color:white; display: inline-flex;vertical-align: middle;">
      <i class="material-icons" style="margin-right:5px">exit_to_app</i>Cerrar Sesión 
    </a>
  </li>
</ul>
  