<nav>
  <div class="nav-wrapper">
    <a href="dashboard" class="brand-logo left">
      <img class="responsive-img left" src="/img/logo_citykids.png">
    </a>
    <ul class="right">
      <!-- Dropdown Trigger -->
      <li>
        <a class='dropdown-button' href='#' data-activates='dropdownOptions' data-constrainwidth="false" data-alignment="right">
          <i class="material-icons right">arrow_drop_down</i>Menú
        </a>  
      </li>
    </ul>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id='dropdownOptions' class='dropdown-content'>
  <li><a href="#!"><i class="material-icons">account_circle</i>Perfil</a></li>
  <li class="divider"></li>
  <li><a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
  <li><a href="/gallery"><i class="material-icons">photo_library</i>Gallery</a></li>
  <li class="divider"></li>
  <li><a href="/adminUsers"><i class="material-icons">account_box</i>Admin Users</a></li>
  
  <li class="divider"></li>
  <li>
    <a href="#!">
      <i class="material-icons">exit_to_app</i>Cerrar Sesión 
    </a>
  </li>
</ul>
  