<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
	<title>Administrar: Usuario</title>
</head>
<body>
<body ng-app="adminUsersApp" ng-cloak>
<div class="container" ng-controller="adminUsersCtrl">
	<% include ../views/partials/header %>





	<% include ../views/partials/footer %>

	<!-- My Angular controller -->
  <script src="../controllers/ctrlleradminUsers.js"></script>

</div>

</body>
</html>