<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
	<title>Login CityKids</title>
</head>

<body ng-app="dashboardApp" ng-cloak>

	<div class="container" ng-controller="dashboardCtrl" >
	
	<% include ../views/partials/header %>

	
		
		Dashboard


	</div>



	<% include ./partials/footer %>

	<!-- My Angular controller -->
  <script src="../controllers/ctrllerDashboard.js"></script>
           
</body>
</html>