<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
	<title>Login CityKids</title>
</head>

<body ng-app="dashboardApp" ng-cloak>

	
	<% include ../views/partials/header %>

	<div ng-controller="dashboardCtrl" layout="row">
		
		


	</div>



	<% include ../views/partials/footer %>

	<!-- My Angular controller -->
  <script src="../controllers/ctrllerDashboard.js"></script>
           
</body>
</html>