<!DOCTYPE html>
<html>
<head>

	<% include ../views/partials/head %>

	<link rel="stylesheet" type="text/css" href="/css/gallery.css">

	<title>Galeria Imagenes Citykids</title>

	

</head>
<body ng-app="galleryApp" ng-cloak>

<!-- MAIN CONTAINER -->
<div class="container" ng-controller="galleryCtrl"> 


<!-- NAV BAR -->
<% include ../views/partials/header %>
<!-- NAV BAR end -->


<!-- QUERY FOR SEARCHS -->
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons ">pageview</i>Busquedas</div>
    <div class="collapsible-body">

			<div id="filters" class="row section"> 

				<!-- Dropdown Trigger -->
			  <a class='dropdown-button btn red' href='#' data-activates='dropdownFilter' data-constrainwidth="false">Filtrar</a>

			  <!-- Dropdown Structure -->
			  <ul id='dropdownFilter' class='dropdown-content red'>
			    <li><a href="#!" ng-click="findByTag ='Bees'">Sala Bees</a></li>
			    <li><a href="#!" ng-click="findByTag ='Puppies'">Sala Puppies</a></li>
			    <li><a href="#!" ng-click="findByTag ='Kitties'">Sala Kitties</a></li>
			    <li><a href="#!" ng-click="findByTag ='Monkeys'">Sala Monkeys</a></li>
			    <li><a href="#!" ng-click="findByTag ='Parque'">Parque</a></li>
			    <li class="divider"></li>
			    <li><a href="#!" ng-click="findByTag ='Eventos'">Eventos</a></li>
			    <li><a href="#!" ng-click="findByTag ='Bees'">Mi(s) Hijo(s)</a></li>
			    <li class="divider"></li>
			    <li><a href="#!" ng-click="findByTag =''">Limpiar Filtro</a></li>
			  </ul>

				<span> 
					<div class="input-field inline">
		        <input id="palabra" type="text" class="validate" placeholder="รณ por palabra" ng-model="findByTag">
		      </div>
				</span>
		</div>
		</div>
  </li>
</ul>
<!-- QUERY FOR SEARCHS end -->


<!-- GALLERY --> 
<div class="row" > 

  <div id="frameInfoPicture" class="col s12 m6 l4" ng-repeat="gallery in pictures | filter: findByTag | orderBy:gallery.date | limitTo:quantity track by $index">	

  	<div id="imagen">
  		<a href="#megaModal" ng-click="sendInfoModal(gallery.name ,gallery.tag, gallery.comments)" >
  			<img class="responsive-img"  ng-src="/photos/{{ gallery.name }}">
  		</a>
  		<!-- data-caption="Les gusta a:  {{ gallery.likes.join(',  ') }}" -->
		</div>

    <ul id="optionsPicture" class="collection">
    	<li class="collection-item valign-wrapper">
    		<a href="#!" ng-click="like(idPicture, $index)">
    			<i class="material-icons">favorite</i>
    		</a>
      	<span id="meGustaTxt">{{ gallery.likes.length }} Me gusta</span> 
        <a ng-href="/photos/{{ gallery.name }}" download><i class="material-icons">cloud_download</i></a>
    	</li>
    	<a href="#megaModal" ng-click="sendInfoModal(gallery.name ,gallery.tag, gallery.comments)" >
      	<li class="collection-item valign-wrapper boxTagComment">
      		<i class="material-icons">label_outline</i>{{ gallery.tag.length }} Tags
      	</li>
      </a>
      <a href="#megaModal" ng-click="sendInfoModal(gallery.name ,gallery.tag, gallery.comments)" >
      	<li class="collection-item valign-wrapper boxTagComment">
      		<i class="material-icons">speaker_notes</i>{{ gallery.comments.length }} Comentarios
      	</li>
      </a>
    </ul>

 	</div> 
 	
 	<div id="morePicturesBtn" class="col s12 m12 l12">
	  <button id="watchMore" class="waves-effect waves-light btn red" ng-click="watchMore()">
	  	<i class="material-icons right">add_to_photos</i>Ver mas...
	  </button>  
	</div>


 	<!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn red" href="#megaModal">Watch Out</a> -->

  <!-- Modal Structure -->
  <div id="megaModal" class="modal">
    <div class="modal-content">
			<i class="material-icons modal-close right">close</i>
      <h4>Insta-Citykids</h4>
      
      <img class="responsive-img modalImagen" ng-src="/photos/{{ showNewModal.picture }}" >
      
      <p class="valign-wrapper">
      	<i class="material-icons modalCss">label_outline</i> Tags: {{ showNewModal.tags.join(', ') }} 
      </p>
      <p class="valign-wrapper">
      	<i class="material-icons modalCss">speaker_notes</i> Comentarios: 
      		<p ng-repeat="comment in showNewModal.comments">
        		<strong>{{ comment.user }}</strong> {{ comment.msg }}
      		</p>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cerrar</a>
    </div>
  </div>

</div> 
<!-- GALLERY end -->



</div> <!-- MAIN CONTAINER end -->

<% include ../views/partials/footer %>

<script>

	$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal({
      dismissible: false, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      in_duration: 200, // Transition in duration
      out_duration: 200, // Transition out duration
      starting_top: '4%', // Starting top style attribute
      ending_top: '10%', // Ending top style attribute
      // ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
      //   alert("Ready");
      //   console.log(modal, trigger);
      // },
      // complete: function() { alert('Closed'); } // Callback for Modal close
	  });
	});
	
</script>

<!-- My Angular controller -->
<script src="../controllers/ctrllerGallery.js"></script>

</body>
</html>