<!DOCTYPE html>
<html>
<head>

  <% include ./partials/head %>
  <!--   <link rel="stylesheet" type="text/css" href="/css/login.css"> -->

  <title>Login Citykids</title>

</head>
<body ng-app="loginApp" ng-cloak>

<!-- MAIN CONTAINER -->
<div class="container" ng-controller="loginCtrl"> 

  <div class="row">

  	<div class="col s12 center">
      <img class="responsive-img" src="/img/logo_citykids.png" style="width:140px">
    </div>

  	<form name="loginForm">

      <div class="col s12 m5 l5">
        <label><i class="material-icons prefix">account_circle</i> Login</label>
        <input required type="text" name="userLogin" ng-model="user" md-no-asterisk />
        <div ng-messages="loginForm.userLogin.$error" md-auto-hide="true" >
          <div ng-message-exp="['required']">
            Debe contar con un nombre de usuario para poder ingresar.
          </div>
        </div>
    	</div>

      <div class="">
        <label><i class="material-icons prefix">fingerprint</i> Password</label>
        <input required type="password" md-no-asterisk name="password"  ng-model="pwd">
        <div ng-messages="loginForm.password.$error" md-auto-hide="false">
        	<div ng-message="required">This is required.</div>
        </div>
      </div>

      <button class="" ng-click="login(user, pwd)">Entrar</button>

    </form>

  </div>
  
</div>
<!-- MAIN CONTAINER end -->




<% include ./partials/footer %>

<!-- My Angular controller -->
<script src="../controllers/ctrllerLogin.js"></script>

</body>
</html>